{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.site-title {
    font-size: 2rem;
}
.nav {
    background-color:aliceblue;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    /*font-family: 'Times New Roman', Times, serif;*/
}

.nav ul {
    padding:0;
    margin:0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li:hover {
    background-color:peachpuff;
    
}

.nav button {
    background-color: deepskyblue;
    border-radius: 25px;
    color: white;
    /*font-family: 'Courier New', Courier, monospace;*/
    font-size: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
}

.nav button:hover {
    background-color: slateblue;
}

.about-section {
    padding: 5% 25%;
    text-align: center;
    /*font-family: 'Courier New', Courier, monospace;*/
}

.about-section p {
    font-size: 1.25rem;
}

.Our-Team {
    padding: 0 25% 25% 25%;
    text-align: center;
    /*font-family: 'Courier New', Courier, monospace;*/
}

.container {
    max-width: 970px;
    margin: 0 auto;
  }

.container p {
    text-align: center;
}
  
.faq-heading {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 2.5rem;
}
  
.faq-card {
    border: 1px solid white;
    border-radius: 6px;
    padding: 2% 2%;
    margin-bottom: 1%;
    list-style: none;
    position: relative;
    cursor: pointer;
}
.faq-card summary {
    font-size: 1.5rem;
}
.faq-open-icon {
    font-size: 1.5rem;
    position: absolute;
    top: 25%;
    right: 2%;
}
.faq-aftertext {
    text-align: center;
    color: #8b8b9a;
    padding-bottom: 30%;
}
details[open] .faq-open-icon {
    top: 15%;
    right: 1.5%;
}
  
details > summary {
    list-style: none;
}
  
details > summary::-webkit-details-marker {
    display: none;
}
  
details[open] .faq-card-spoiler {
    display: inline-block;
    padding-top: 2%;
    color: #8b8b9a;
}
  